{{ define "main" -}}

<!--TODO: Edit the following CSS file-->
<!--<link rel="stylesheet" type="text/css" href="https://www.jonmsterling.com/css/screen.css" />-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/katex.min.css" integrity="sha384-0cCFrwW/0bAk1Z/6IMgIyNU3kfTcNirlObr4WjrUU7+hZeD6ravdYJ3kPWSeC31M" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/katex.min.js" integrity="sha384-dtFDxK2tSkECx/6302Z4VN2ZRqt6Gis+b1IwCjJPrn0kMYFQT9rbtyQWg5NFWAF7" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      // customised options
      // • auto-render specific keys, e.g.:
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
      ],
      // • rendering keys, e.g.:
      throwOnError : false
    });
  });
</script>

<!--<div class="posts">-->
<!--{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}-->
<!--{{- $paginator := .Paginate $pages -}}-->

<!--{{ range $paginator.Pages }}-->
<!--<article class="post">-->
<!--<h1 class="post-title">-->
<!--<a href="{{ .Permalink }}">{{ .Title }}</a>-->
<!--</h1>-->

<!--<div class="post-date">-->
<!--<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> &middot; {{ .ReadingTime }} min read-->
<!--</div>-->

<!--<div>-->
<!--{{ .Summary }}-->
<!--</div>-->

<!--<div class="read-more-link">-->
<!--<a href="{{ .Permalink }}">Read More</a>-->
<!--</div>-->
<!--</article>-->
<!--{{- end }}-->
<!--</div>-->

<h1>About</h1>

<p>
I'm a Ph.D. student at the <a href="https://www.unm.edu/">University of New Mexico</a> 
in the <a href="https://www.cs.unm.edu/">Computer Science Department</a> advised by 
<a href="https://www.cs.unm.edu/~kapur/">Prof. Deepak Kapur</a> working on formal methods
and computer algebra.  I'm interested in software verification, programming languages,
commutative algebra, and non-classical logics.
</p>

<p>
I obtained a bacherlor's degree in electronics engineering from 
<a href="https://www.udlap.mx/web/en/">Universidad de las Americas Puebla</a>
advised by 
<a href="https://sites.google.com/site/osoriomauri/">Prof. Mauricio Osorio Galindo</a>,
working on the paraconsistent logic \(C_1\).
</p>

<h1>Research Interest</h1>
<ul>
  <li>Sums of Squares</li>
  <li>Archimedean quadratic modules</li>
  <li>Gr&oumlbner basis algorithms</li>
  <li>Quantifier-free interpolation algorithms for decidable logics</li>
</ul>

<h1>Publications</h1>

<!--<table>-->

  <!--<tr class="pub">-->
    <!--<td class="date">JACM</td>-->
    <!--<td>-->
      <!--<div>-->
        <!--<span class="badge light">To appear</span>-->
        <!--<span class="title">Logical Relations as Types: Proof-Relevant Parametricity for Program Modules</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="venue">Journal of the ACM (accepted pending minor revision)</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="authors">J. Sterling, R. Harper</span>.-->
      <!--</div>-->
      <!--<div class="links">-->
        <!--<a href="https://arxiv.org/abs/2010.08599">arXiv preprint</a>,-->
        <!--<a href="pdfs/lrat.pdf">latest version</a>-->
        <!--(revised May 2021)-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->


  <!--<tr class="pub">-->
    <!--<td class="date">LICS '21</td>-->
    <!--<td>-->
      <!--<div>-->
        <!--<span class="badge light">To appear</span>-->
        <!--<span class="title">Normalization for Cubical Type Theory</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="venue">36th Annual Symposium on Logic in Computer Science</span>.-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="authors">J. Sterling, C. Angiuli</span>.-->
      <!--</div>-->
      <!--<div class="links">-->
        <!--<a href="https://arxiv.org/abs/2101.11479">arXiv preprint</a>,-->
        <!--<a href="pdfs/cubical-norm.pdf">latest version</a>,-->
        <!--<a href="bibliography.html#sterling-angiuli:2021">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">JFP</td>-->
    <!--<td>-->
      <!--<span class="badge light">To appear</span>-->
      <!--<span class="title">Higher-Order Functions and Brouwer's Thesis</span>-->
      <!--<br>-->
      <!--<span class="venue">Journal of Functional Programming, Bob Harper Festschrift Collection</span>.-->
      <!--<div class="links">-->
        <!--<a href="https://arxiv.org/abs/1608.03814">arXiv preprint</a>,-->
        <!--<a href="pdfs/bhfs.pdf">latest version</a>,-->
        <!--<a href="http://www.jonmsterling.com/agda-effectful-forcing/index.html">Agda formalization</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->


  <!--<tr class="pub">-->
    <!--<td class="date">ICFP '19</td>-->
    <!--<td>-->
      <!--<span class="title">Implementing a Modal Dependent Type Theory</span>.-->
      <!--<br>-->
      <!--<span class="authors">D. Gratzer, J. Sterling, and L. Birkedal</span>.-->
      <!--<br>-->
      <!--<span class="venue">International Conference on Functional Programming (ICFP), 2019</span>.-->
      <!--<br>-->
      <!--<span class="award">Distinguished Paper Award</span>.-->
      <!--<div class="links">-->
        <!--<a href="https://dl.acm.org/doi/10.1145/3341711">ACM DL</a>,-->
        <!--<a href="pdfs/modal-mltt.pdf">preprint</a>,-->
        <!--<a href="pdfs/modal-mltt-tr.pdf">technical report</a>,-->
        <!--<a href="resources/blott.tar.gz">implementation</a>,-->
        <!--<a href="bibliography.html#gratzer-sterling-birkedal:2019">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">FSCD '19</td>-->
    <!--<td>-->
      <!--<span class="title">Cubical Syntax for Reflection-Free Extensional Equality</span>.-->
      <!--<br>-->
      <!--<span class="authors">J. Sterling, C. Angiuli, and D. Gratzer</span>.-->
      <!--<br>-->
      <!--<span class="venue">International Conference on Formal Structures for Computation and Deduction (FSCD), 2019</span>.-->
      <!--<br>-->
      <!--<span class="award">Best Paper Award For Junior Researchers</span>.-->
      <!--<div class="links">-->
        <!--<a href="https://drops.dagstuhl.de/opus/volltexte/2019/10538/">DROPS</a>,-->
        <!--<a href="https://arxiv.org/abs/1904.08562">extended version (arXiv)</a>,-->
        <!--<a href="pdfs/xtt-fscd-slides.pdf">slides</a>,-->
        <!--<a href="bibliography.html#sterling-angiuli-gratzer:2019">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">LFMTP '18</td>-->
    <!--<td>-->
      <!--<span class="title">The <span class="proj-name"><span class="rev">Red</span>PRL</span> Proof Assistant</span>.-->
      <!--<br>-->
      <!--<span class="authors">C. Angiuli, E. Cavallo, K. Hou (Favonia), R. Harper, and J. Sterling</span>.-->
      <!--<br>-->

      <!--<span class="venue">International Workshop on Logical Frameworks and Meta-Languages: Theory and Practice (LFMTP), 2018</span>.-->
      <!--<br>-->
      <!--<span class="title-note">Invited Paper</span>-->
      <!--<div class="links">-->
        <!--<a href="http://eptcs.web.cse.unsw.edu.au/paper.cgi?LFMTP2018.1">EPTCS</a>,-->
        <!--<a href="bibliography.html#redprl:lfmtp:2018">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">LICS '18</td>-->
    <!--<td>-->
      <!--<span class="title">Guarded Computational Type Theory</span>.-->
      <!--<br>-->
      <!--<span class="authors">J. Sterling, R. Harper</span>.-->
      <!--<br>-->
      <!--<span class="venue">Proceedings of the 33rd Annual ACM/IEEE Symposium on Logic in Computer Science (LICS '18)</span>.-->
      <!--<div class="links">-->
        <!--<a href="https://dl.acm.org/doi/10.1145/3209108.3209153">ACM DL</a>,-->
        <!--<a href="pdfs/guarded-ctt-lics.pdf">short preprint</a>,-->
        <!--<a href="https://arxiv.org/abs/1804.09098">long preprint (arXiv)</a>,-->
        <!--<a href="pdfs/guarded-ctt-slides.pdf">slides</a>,-->
        <!--<a href="bibliography.html#sterling-harper:2018">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">Apr. 2016</td>-->
    <!--<td>-->
      <!--<span class="title">Dependent Types for Pragmatics</span>.-->
      <!--<br>-->
      <!--<span class="authors">D. McAdams, J. Sterling</span>.-->
      <!--<br>-->
      <!--<span class="collection">-->
        <!--Redmond J., Pombo Martins O., Nepomuceno Fernández Á. (eds) <em>Epistemology, Knowledge and the Impact of Interaction</em>. Logic, Epistemology, and the Unity of Science, vol 38. Springer, Cham.-->
      <!--</span>-->
      <!--<div class="links">-->
        <!--<a href="https://link.springer.com/chapter/10.1007/978-3-319-26506-3_4">SpringerLink</a>,-->
        <!--<a href="bibliography.html#mcadams-sterling:2016">citation</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date"></td>-->
    <!--<td>-->
    <!--</td>-->
  <!--</tr>-->

<!--</table>-->


<p>TODO:</p>

<h1>Software</h1>
<ul>
  <li><a href="https://github.com/typesAreSpaces/AXDInterpolator">
      AXDInterpolator</a>: implementation of a 
    quantifier-free interpolation algorithm for the theory
    of arrays and index theories (i.e. total order, 
    integer difference logic, linear integer arithmetic).
  </li>
  <li><a href="https://github.com/typesAreSpaces/EUFInterpolator">
      EUFInterpolator</a>: implementation of a quantifier-free interpolation
    algorithm for the theory of equality and uninterpreted functions.
  </li>
  <li><a href="https://github.com/typesAreSpaces/z3-interp-plus">
      Z3-Inter-plus Plugin</a>: fork of the 
    <a href="https://github.com/Z3Prover/z3">Z3 SMT solver</a>
    including additional utilities to process common symbols, 
    context processing, and a custom rewriter to relax 
    <code>QF_IDL</code> expressions to
    <code>QF_TO</code> expressions.
  </li>
  <li><a href="https://github.com/typesAreSpaces/z3-proofs2latex">
      z3-proofs2latex</a>: A Python script to export Z3
    proofs to \( \LaTeX \).
  </li>
  <li><a href="https://github.com/typesAreSpaces/QuickTex">
      QuickTex</a>: Tool to automatically setup \( \LaTeX \) projects.
  </li>
</ul>

<h1>Talks</h1>
<!--TODO-->
<!--<table>-->
  <!--<tr class="pub">-->
    <!--<td class="date">Apr. 2021</td>-->
    <!--<td>-->
      <!--<span class="title">Logical Relations As Types</a>-->
      <!--<br>-->
      <!--<a class="venue" href="https://the-au-forml-lab.github.io/colloquium_talks/Sterling.html">CCS Colloquium, Augusta University</a>.-->
      <!--<div class="links">-->
        <!--<a href="pdfs/au-ccs-lrat.pdf">Slides</a>,-->
        <!--<a href="https://www.youtube.com/watch?v=AEthjg2k718">Video</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">Feb. 2021</td>-->
    <!--<td>-->
      <!--<span class="title">Normalization for Cubical Type Theory</span>-->
      <!--<br>-->
      <!--<a class="venue" href="http://mathieu.anel.free.fr/seminar.html">Pittsburgh's HoTT Seminar</span>.-->
    <!--</td>-->

  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">Aug. 2020</td>-->
    <!--<td>-->
      <!--<a class="title" href="pdfs/proposal-slides.pdf">Objective Metatheory of (Cubical) Type Theories</a>-->
      <!--<br/>-->
      <!--<span class="venue">Thesis Proposal</span>-->
    <!--</td>-->
  <!--</tr>-->

  <!--<tr class="pub">-->
    <!--<td class="date">Jun. 2020</td>-->
    <!--<td>-->
      <!--<a class="title" href="http://math.andrej.com/2020/06/01/redtt-and-the-future-of-cartesian-cubical-type-theory/"><span class="proj-name"><span class="rev">red</span>tt</span> and the future of Cartesian cubical type theory</a>.-->
      <!--<br>-->
      <!--<span class="venue">Every Proof Assistant</span>-->
      <!--<div class="links">-->
        <!--<a href="https://vimeo.com/425917591">Video</a>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
<ul>
  <li>Master Thesis Defense, 2020</li>
  <li>Colloquium Talk, 2020</li>
  <li>Ninth Latin American Workshop on Logic/Languages, 
    Algorithms and New Methods of Reasoning 
    (LANMR)</li>
</ul>

<h1>Teaching</h1>
<ul>
  <li>Fall 2019: TA for 
    <a href="https://www.cs.unm.edu/~williams/cs530f15.html">Geometric and Probabilistic Methods in Computer Science (CS 530)</a> with 
    <a href="https://www.cs.unm.edu/~williams/">Prof. Lance Williams</a>

  </li>
  <li>Spring 2019: TA for 
    <a href="https://www.cs.unm.edu/~saia/classes/561-f18/">Theory of Computation (CS 500)</a> with 
    <a href="https://www.cs.unm.edu/~kapur/">Prof. Deepak Kapur</a>

  </li>
  <li>Fall 2018: TA for 
    <a href="https://www.cs.unm.edu/~saia/classes/561-f18/">Algorithms and Data Structures (CS 561)</a> with 
    <a href="https://www.cs.unm.edu/~saia/">Prof. Jared Saia</a>
  </li>
</ul>

<h1>Academic Service</h1>
<p>TODO:</p>

<h1>Other Activities</h1>
<p>TODO:</p>

{{ template "_internal/pagination.html" . }}
{{- end }}
