{{ define "main" -}}
  <!--<div class="posts">-->
    <!--{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}-->
    <!--{{- $paginator := .Paginate $pages -}}-->

    <!--{{ range $paginator.Pages }}-->
      <!--<article class="post">-->
        <!--<h1 class="post-title">-->
          <!--<a href="{{ .Permalink }}">{{ .Title }}</a>-->
        <!--</h1>-->

        <!--<div class="post-date">-->
          <!--<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> &middot; {{ .ReadingTime }} min read-->
        <!--</div>-->

        <!--<div>-->
          <!--{{ .Summary }}-->
        <!--</div>-->

        <!--<div class="read-more-link">-->
          <!--<a href="{{ .Permalink }}">Read More</a>-->
        <!--</div>-->
      <!--</article>-->
    <!--{{- end }}-->
  <!--</div>-->

  <h1>About</h1>

  <p>
  I'm a Ph.D. student at the <a href="https://www.unm.edu/">University of New Mexico</a> 
  in the <a href="https://www.cs.unm.edu/">Computer Science Department</a> advised by 
  <a href="https://www.cs.unm.edu/~kapur/">Prof. Deepak Kapur</a> working on formal methods
  and computer algebra.  I'm interested in software verification, programming languages,
  commutative algebra, and non-classical logics.
  </p>

  <p>
  I obtained a bacherlor's degree in electronics engineering from 
  <a href="https://www.udlap.mx/web/en/">Universidad de las Americas Puebla</a>
  advised by 
  <a href="https://sites.google.com/site/osoriomauri/">Prof. Mauricio Osorio Galindo</a>,
  working on the paraconsistent logic C1.
  </p>

  <h1>Research Interest</h1>
  <ul>
    <li>Sums of Squares</li>
    <li>Archimedean quadratic modules</li>
    <li>Groebner basis-based algorithms</li>
    <li>Quantifier-free interpolation algorithms for decidable logics</li>
  </ul>

  <h1>Publications</h1>
  <p>TODO:</p>

  <h1>Software</h1>
  <p>TODO:</p>

  <h1>Talks</h1>
  <p>TODO:</p>

  <h1>Teaching</h1>
  <p>TODO:</p>

  <h1>Academic Service</h1>
  <p>TODO:</p>

  <h1>Other Activities</h1>
  <p>TODO:</p>

  {{ template "_internal/pagination.html" . }}
  {{- end }}
